<!DOCTYPE html>
<html lang="en">
   <%- include('partials/_header.ejs') %>>
   <!-- body -->
   <body class="main-layout inner_page">
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="/images/loading.gif" alt="#"/></div>
      </div>
      <!-- end loader -->
     
         <!-- header -->
         <%- include('partials/_menu.ejs') %>
         <!-- end header inner -->
      <!-- team -->
      <div class="team">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage text_align_center">
                    
                     <h2><%= users.username %></h2>
                  </div>
               </div>
               <% photos.forEach(element => { %>
                  <div class="col-md-4">
                     <div class="team_box text_align_center">
                        <div class="team_img">
                          <figure><img src="<%= element.url %>" alt="#"/></figure>
                        </div>
                     </div>
                  </div>
               <% }) %>
               
               
               
            </div>
         </div>
      </div>
      <!-- end team -->
      <!-- end footer -->
      <%- include('partials/_footer.ejs') %>
      <!-- end footer -->
      <!-- Javascript files-->
      
   </body>
</html>